@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
    font-family: 'Nunito', sans-serif !important;
}

.validation-label
{
    width: 100%;
    margin-top: 11px;
    font-size: 15px;
    font-weight: bold;
    color: #480000;
}
.input-section
{
    margin: 14% 0px 30px 0px;
    text-align: right;
}

.form-left
{
    width: 40%;
    margin: 5%;
    float: left;
}

.form-right
{
    float: right;
    width: 40%;
    margin: 5%;
    margin-top: 6.5%;
}

.container
{
    width: 100%;
}

.label-class
{
    float: left;
    margin-right: 4px ;
}

.input-class
{
    width: 40%;
    margin-right: 0%;
    height: 26px;
    outline: 1px;
    border: 1px solid burlywood;
}

.input-class:hover{
    transition: .5s ease-in-out;
    transform: scale(1.25);
    transition-duration: .5s;
    font-size: 15px;
}


.checkbox-class
{
    margin: 0% 0% 0% 0%;
    flex: none;
}

.nation-label{
    margin-right: 27px;
}


.heading
{
    font-weight: bold;
}


.submit-button{
    width: 11%;
    margin-right: 0%;
    padding: 0.5%;
    margin-left: -5%;
    border: none;
    cursor: pointer;
    border: 1px solid burlywood;
}

.submit-button:hover{
    transition: .5s ease-in-out;
    background-color: #5a0909;
    color: white;
    transform: scale(1.25);
    transition-duration: .5s;
    border: none;
}

.react-datepicker-wrapper
{
    display: table-caption !important;
    width: 0% !important;
    margin-left: 15% !important;
}

.react-datepicker__input-container
{
    width: 0% !important;
}

.react-datepicker__close-icon
{
    display: none !important;
}

.label-class-disabled
{
margin-right: 35%;
float: left;
}

.grid-class
{
    width: 50%;
    margin-left: 50%;
    border: none;
    border: 1px solid burlywood;
}

.grid-class:hover{
    border: none;
    transition: .5s ease-in-out;
    background-color: #5a0909;
    color: white;
    transform: scale(1.25);
    transition-duration: .5s;
}


.left-input
{
    margin-top: 10%;
}